<div class="pt-5">
  <div class="container mx-auto">
    <h2 class="text-xl mb-3">Home</h2>
    <p>This is the home page which does not require any form of authentication.</p>
    <p>Click <a class="text-blue-500" href="/protected">here (/protected)</a> to access a protected page.</p>
  </div>
</div>
