<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  </head>

  <body>
    <div>
      <header class="bg-gray-100 text-gray-700 body-font border-b">
        <div class="container mx-auto flex flex-wrap pt-3 pb-3 flex-col md:flex-row justify-between items-center">
          <span class="text-xl">Azure Websites &amp; OpenID Connect using Auth0</span>
        </div>
      </header>
      <%- body %>
    </div>
  </body>
</html>
